    CLIENT_ID_DEVICE=YOUR_CLIENT_ID_DEVICE
    CLIENT_ID_INTERACTIVE=YOUR_CLIENT_ID_INTERACTIVE
    SCOPE=YOUR_SCOPE_ELEMENT,YOUR_SCOPE_ELEMENT
    REDIRECT_URI=YOUR_REDIRECT_URI
    AUDIENCE=YOUR_AUDIENCE
    AUTHORIZATION_BASE_URL=YOUR_AUTHORIZATION_BASE_URL
    TOKEN_URL=YOUR_TOKEN_URL
    DEVICE_URL=YOUR_DEVICE_URL
    JWS_JSON_URL=YOUR_JWS_JSON_URL
